<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Bypass the Security Record Rules</h2>
        <h3 class="oe_slogan">Effective way to Manage your Data Security</h3>
        <p class='oe_mt32'>
        There were many Security issues we are facing when providing detail Security Roles, i.e. User A should have access to view all companies but only in Sale Form. Using this module you can simply configure the inner level of security with predefined configuration.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Module Feature with an Example</h3>
        <div class='oe_row_img oe_centered oe_mt32'>
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="1.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Dynamic Bypass Rule Configuration</h2>
        <div class='oe_row_img oe_centered oe_mt32'>
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class='oe_row_img oe_centered oe_mt32'>
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="3.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
